{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/question-toast-1.html">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What spread do you like within your toast?</h1>

      <form class="form" action="/check-your-answers" method="post">

        <p>
          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="more-detail">
                Please provide detail of how you like your spread
              </label>
            </h1>
            <div id="more-detail-hint" class="govuk-hint">
              You can provide as much details as you think is necessary, after all, it's important to get the detail just right :).
            </div>
            <textarea class="govuk-textarea" id="spread-type" name="spread-type" rows="5" aria-describedby="more-detail-hint" >{{ data['spread-type']}}</textarea>
          </div>
        </p>

        <p>[See <a href="https://design-system.service.gov.uk">the GOV.UK Design System</a> for examples]</p>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
